<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>7895795662-hh16b65d6isad1bkkmd7m89nehkbd4fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7895795662-hh16b65d6isad1bkkmd7m89nehkbd4fp</string>
	<key>API_KEY</key>
	<string>AIzaSyCunrsamim0kZxhdlrp31aQsuZUxIRhfa8</string>
	<key>GCM_SENDER_ID</key>
	<string>7895795662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fuadadetoro.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-8ce8d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-8ce8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:7895795662:ios:a64d849f52d7a3be</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-8ce8d.firebaseio.com</string>
</dict>
</plist>